* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  background: #E3DDE1;
}

button {
  text-align: center;
  background-color: #ffffff;
  border-color: #8EDBE1;
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  color: #66ced6;
  font-weight: 800;
  padding: 0;
  outline: none;
}

button:focus {
  border-color: #8EDBE1;
}

p {
  display: flex;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
}

h1 {
  margin: 0;
  height: 96px;
  text-align: center;
  line-height: 96px;
  font-size:calc(2.25rem + 1.5vw);
}

input[type="text"], input[type="number"], textarea {
  font-size: 1.25em;
  color: #646054;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 4px;
}

input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
  box-shadow: 0px 0px 6px #8EDBE1;
}

::placeholder {
  color: #BFBAB0;
}

.invisible {
  display: none !important;
}

.content {
  /* Margin to account for header */
  margin-top: 4rem;
  padding: 4rem;
  width: 100%;
  max-width: 45rem;
  min-width: 23rem;
  max-height: 100%;
}

.content-part {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.content-part > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.content-part > input {
  height: 2.5rem;
  line-height: 2.5rem;
}

.content-part > button {
  height: 2.5rem;
}

.content-part > textarea {
  resize: none;
  height: 10rem;
}

#preview {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #8EDBE1;
  position: fixed;
  width: 100%;
  z-index: 5;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 32px;
  color: #ffffff;
}

.nav-content {
  display: none;
}

#logo {
  height: 6rem;
}

.header-svg {
  height: 2.25rem;
  width: 2.25rem;
}

/* #burger-menu {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;

  left: 0;
  transition: left 0.5s;
  z-index: 6;
} */

/* #burger-menu.disabled {
  left: 100%;
} */

#burger-menu-wrapper {
  right: 0;
  box-sizing: border-box;
  transform: translateX(100%);
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 9999;
  height: 100%;
  width: 100%;
  transition: transform .2s;

  font-size: 2rem;
}

#burger-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 3px solid #E3DDE1;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: #E3DDE1
}

.burger-content {
  /* padding: 4rem; */
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  max-width: 45rem;
  min-width: 23rem;
  max-height: 100%;
  color: #8EDBE1;
}

#burger-menu-wrapper.disabled  {
  transform: translateX(0);
}

.blur {
    filter: blur(2px);
}

.price-wrapper {
  position: relative;
  height: 2.5rem;
}

.price-wrapper > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.price-wrapper > input {
  padding-left: 20px;
  width: 100%;
  height: 100%;
}

/*
  Desktop Styling
------------------------------------------------
*/
@media only screen and (min-width: 769px) {
  .header-svg {
    display: none;
  }
  .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
  }
  .nav-content > a {
    background-color: inherit;
    transition: background-color 0.5s;
    padding: 0.25rem;
    border-radius: 16px;
  }
  .nav-content > a:hover {
    background-color: #66ced6;
  }
  #header {
    justify-content: flex-start;
  }
}

/*
------------------------------------------------
*/