.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.preview-wrapper {
  border: 3px solid;
  width: 16rem;
  height: 16rem;
}

/*

  Cards
----------------------------------------------
*/
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 3rem;
  position: fixed;
  z-index: 9999;
  background: #E3DDE1;
  box-shadow: 0px 0px 10px #9aa5a2;

  border-radius: 16px;
}

.card > * {
  margin-bottom: 1rem;
}

.card-button {
  height: 2rem;
  width: 4rem;
  margin: 1rem;
}

#preview-card {
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.6s;
}

#preview-card.disabled {
  visibility: hidden;
  opacity: 0;
}

#result-card {
  transition: top 1s;
  top: 25%;
}

#result-card.disabled {
  top: 0;
  visibility: hidden;
}

/*
----------------------------------------------
*/

#upload-svg {
  height: 1.5rem;
}

.file-button {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-button + label {
  font-size: 2em;
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
  background-color: #8EDBE1;
  padding: 5px;

  width: 100%;
  height: 6rem;
  text-align: center;
  vertical-align: middle;
  line-height: 6rem;

  border-radius: 32px;
}


/*
  Desktop Styling
------------------------------------------------
*/
@media only screen and (min-width: 769px) {
  .file-button + label {
    width: 12rem;
    height: 3rem;
    font-size: 1.5em;
    line-height: 3rem;

    
  }
  #upload-svg {
    height: 1.5rem;
  }
  #file-button-wrapper {
    border: 0.5rem solid #ffffff;
    border-radius: 16px;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    transition: background-color 0.25s linear;
  }
  #file-button-wrapper.drag-over {
    background-color: #8EDBE1;
    transition: background-color 0.5s linear;
  }
}
/*
-------------------------------------------------
*/

.file-button:focus + label,
.file-button.hoverable + label:hover {
    background-color: #66ced6;
}

.form-button {
  /* set position relative to allow for left offset on progress bar */
  position: relative;
  overflow: hidden;

  width: 40%;
}

#submit-button-text {
  transition: margin-top 2s;
  margin-top: 0%;
}

#submit-button-text.disabled {
  margin-top: 100%;
}

#progress-bar-wrapper {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

#progress-bar {
  height: 100%;
  width: 100%;
  left: -12px;
  top: 0;
  /* border-radius: 16px; */
  background-color: #227b81;
  animation: expand 3s linear 1, gradient 1.5s linear infinite;
  transform: skew(30deg);
  position: absolute;
}

@keyframes expand {
  0% { width: 0% }
  100% { width: 100% }
}

@keyframes gradient {
  0% { background-color: #227b81; }
  50% { background-color: #8EDBE1; }
  100% { background-color: #227b81; }
}