#preview-card .preview-wrapper {
  border: 3px solid;
  width: 16rem;
  height: 16rem;
}

/*

  Cards
----------------------------------------------
*/
#preview-card {
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.6s;
}

#preview-card.disabled {
  visibility: hidden;
  opacity: 0;
}
/*
-------------------------------------------------
*/

.form-button {
  /* set position relative to allow for left offset on progress bar */
  position: relative;
  overflow: hidden;

  width: 40%;
}

#submit-button-text {
  transition: margin-top 2s;
  margin-top: 0%;
}

#submit-button-text.disabled {
  margin-top: 100%;
}

#progress-bar-wrapper {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

#progress-bar {
  height: 100%;
  width: 100%;
  left: -12px;
  top: 0;
  /* border-radius: 16px; */
  background-color: #227b81;
  animation: expand 3s linear 1, gradient 1.5s linear infinite;
  transform: skew(30deg);
  position: absolute;
}

@keyframes expand {
  0% { width: 0% }
  100% { width: 100% }
}

@keyframes gradient {
  0% { background-color: #227b81; }
  50% { background-color: #8EDBE1; }
  100% { background-color: #227b81; }
}