.landing-container {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 80%;
}
.hero > * {
  margin: 0 2rem;
}
.hero-text {
  width: 25rem;
  max-width: calc(100vw - 2rem);
}
.hero-img {
  /* Invisible on mobile devices */
  display: none;
}
.landing-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.landing-button {
  white-space: nowrap;
  line-height: 4rem;
  text-align: center;
  height: 4rem;
  font-weight: 700;
  background-color: #4D68B2;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  width: 180px;
}
.black {
  color: #000000;
}
.white {
  color: #ffffff;
}
section {
  height: 100vh;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
#first {
  background-color: #E3DDE1;
  flex-direction: row;
  justify-content: center;
}
#first .hero-img {
  height: 25rem;
}
#second {
  background-color: #4D68B2;
  flex-direction: column;
  align-items: flex-end;
}
#second > .hero {
  max-height: 25%;
  align-items: center;
  padding-right: 2rem;
}
#second .hero:not(:last-child) {
  margin-bottom: 2rem;
}
#second .hero-img {
  /* height: 15rem; */
  height: 100%;
}
#second .landing-button {
  background-color: #3C9AA3;
}
#third {
  background-color: #3C9AA3;
  flex-direction: row;
  justify-content: flex-start;
}
#third > .hero {
  align-items: center;
  padding-left: 2rem;
}
#third .hero-img {
  height: 22rem;
}

@media only screen and (min-width: 769px) {
  .hero {
    width: 60%;
    max-width: 1000px;
  }
  .hero-img {
    display: block;
  }
  #second .hero-alt {
    align-self: flex-start;
  }
  #second .hero:not(:last-child) {
    margin-bottom: 0;
  }
}