* {
    font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
}

input {
    height: 30px;
}

input[type=text] {
    padding-left: 10px;
    padding-right: 10px;
}

svg {
    fill: currentColor;
}

#filedrop {
    border: dotted green;
    display: flex;
    width: 700px;
    height: 300px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview-wrapper {
    border: 3px solid;
}

#preview {
    vertical-align: middle;
}

.v-stack {
    display: flex;
    flex-direction: column;
}
.v-stack > * {
    margin-bottom: 15px;
}

.h-stack {
    display: flex;
    flex-direction: row;
}
.h-stack > *:not(:last-child) {
    padding-right: 15px;
}

.border {
    border: solid red;
}

.border-blue {
    border: solid blue;
}

.border-green {
    border: solid green;
}

.price {
    position: relative;
    width: 30%;
  }
  
.price > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.price > input {
    padding-left: 20px;
}

.label-wrapper {
    display: inline-flex;
    align-items: center;
    width: 50%;
}

.label-wrapper > span {
    margin-right: 10px;
    min-width: 50px;
}

.w-50p {
    width: 50%;
}

.w-100p {
    width: 100%;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: gray;
    display: inline-block;
    background-color: rgb(140, 237, 219);
    padding: 5px;
    border-radius: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: blue;
    background-color: rgb(128, 217, 200);
}

.blur {
    filter: blur(5px);
}