
#current-step-title, #current-step-description {
  overflow-wrap: break-word;
  /* Safari compatability */
  word-wrap: break-word;
  word-break: break-all;
}

/*
  Steps Bar
------------------------------------------------
*/
#steps-bar {
  /* Explicitly set height to avoid bobbing of steps bar */
  height: 3rem;
  
  flex-direction: row  !important;
  align-items: center;
  justify-content: center;
}

.steps-bar-fragment {
  width: 6rem;
  height: 1rem;
  background-color: #ffffff;
  flex-grow: 1;
}

.steps-bar-fragment.completed {
  animation: gradient 6s linear infinite;
}

.steps-bar-fragment:first-child {
  border-radius: 8px 0px 0px 8px;
}

.steps-bar-fragment:last-child {
  border-radius: 0px 8px 8px 0px;
}

.steps-bar-circle {
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 1rem;
  border: 3px solid #4D68B2;
  background-color: #ffffff;
  transition: min-width 0.5s, min-height 0.5s, border-radius 0.5s;
  cursor: pointer;
}

.steps-bar-circle.current {
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 1.5rem;
  background-color: #4D68B2;
  border-color: #ffffff;
}

.steps-bar-circle-wrapper {
  max-width: 1px;
  overflow: visible;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*
  Evidence
------------------------------------------------
*/
.evidence-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: purple;
  padding: 0 !important;
}

.evidence-slot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 20rem;
}

.evidence-slot {
  width: 16rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 2rem;
  background-color: #3C9AA3;
  border-radius: 8px;
  border-style: dashed;
  border-width: 4px;
  border-color: #4D68B2;

  /* Background extends only to inner edge of border */
  background-clip: padding-box;
}

.evidence-button {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	z-index: -1;
}

.evidence-button + label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  border-color: #4D68B2;
  border-width: 2px;
  color: #4D68B2;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  line-height: 1.5rem;
  vertical-align: middle;
  font-weight: 700;
  cursor: pointer;
}

@keyframes expand {
  0% { width: 0% }
  100% { width: 100% }
}

@keyframes gradient {
  0% { background-color: #3C9AA3; }
  50% { background-color: #4D68B2; }
  100% { background-color: #3C9AA3; }
}
/*
------------------------------------------------
*/

/* Set text to green when part of step complete */
.text-complete {
  color: green;
}