
#current-step-title, #current-step-description {
  overflow-wrap: break-word;
  /* Safari compatability */
  word-wrap: break-word;
  word-break: break-all;
}

/*
  Steps Bar
------------------------------------------------
*/
#steps-bar {
  /* Explicitly set height to avoid bobbing of steps bar */
  height: 3rem;
  
  flex-direction: row  !important;
  align-items: center;
  justify-content: center;
}

.steps-bar-fragment {
  width: 6rem;
  height: 1rem;
  background-color: #ffffff;
  flex-grow: 1;
}

.steps-bar-fragment.completed {
  animation: gradient 6s linear infinite;
}

.steps-bar-fragment:first-child {
  border-radius: 8px 0px 0px 8px;
}

.steps-bar-fragment:last-child {
  border-radius: 0px 8px 8px 0px;
}

.steps-bar-circle {
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 1rem;
  border: 3px solid #4D68B2;
  background-color: #ffffff;
  transition: min-width 0.5s, min-height 0.5s, border-radius 0.5s;
  cursor: pointer;
}

.steps-bar-circle.current {
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 1.5rem;
  background-color: #4D68B2;
  border-color: #ffffff;
}

.steps-bar-circle-wrapper {
  max-width: 1px;
  overflow: visible;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes expand {
  0% { width: 0% }
  100% { width: 100% }
}

@keyframes gradient {
  0% { background-color: #3C9AA3; }
  50% { background-color: #4D68B2; }
  100% { background-color: #3C9AA3; }
}
/*
------------------------------------------------
*/

/* Set text to green when part of step complete */
.text-complete {
  color: green;
}